In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
dados_inflacao_xls = pd.read_excel('./ipca_202304SerieHist.xls')
dados_inflacao_csv = pd.read_csv('./inflacao_resumido_ibge.csv', sep=';', keep_default_na=False)

In [3]:
#Replace empty year for the corresponding year
for index, row in dados_inflacao_csv.iterrows():
    if row["ANO"] != '':
        year = row["ANO"]
    else:
        row["ANO"] = year
        
#List comprehension finding the index of empty rows
drop_rows = [
    index
    for index, row in dados_inflacao_csv.iterrows()
    if row['% a.m.'] == ''
]
#Drop the empty rows
for i in drop_rows:
    dados_inflacao_csv.drop(i, inplace=True)

#Check if the values are correct by showing 12 values (moths) per year
dados_inflacao_csv["ANO"].value_counts()

1994    12
1995    12
2022    12
2021    12
2020    12
2019    12
2018    12
2017    12
2016    12
2015    12
2014    12
2013    12
2012    12
2011    12
2010    12
2009    12
2008    12
2007    12
2006    12
2005    12
2004    12
2003    12
2002    12
2001    12
2000    12
1999    12
1998    12
1997    12
1996    12
2023     4
Name: ANO, dtype: int64

In [4]:
dados_inflacao_csv.set_index("ANO", inplace=True)
dados_inflacao_csv.index = dados_inflacao_csv.index.astype("float")

In [5]:
dados_inflacao_csv.loc[[2010]]

        MES Dez 93 = 100 % a.m.
ANO
2010.0  JAN      3040,22   0,75
2010.0  FEV      3063,93   0,78
2010.0  MAR      3079,86   0,52
2010.0  ABR      3097,42   0,57
2010.0  MAI      3110,74   0,43
2010.0  JUN      3110,74   0,00
2010.0  JUL      3111,05   0,01
2010.0  AGO      3112,29   0,04
2010.0  SET      3126,29   0,45
2010.0  OUT      3149,74   0,75
2010.0  NOV      3175,88   0,83
2010.0  DEZ      3195,89   0,63

In [6]:

# Dados mensais
meses = np.arange(1, 13)
anos = np.arange(2010, 2023)

gasolina = [
3.01, 3.01, 3.02, 3.03, 3.05, 3.06, 3.08, 3.10, 3.12, 3.14, 3.16, 3.18,
3.18, 3.20, 3.23, 3.25, 3.28, 3.32, 3.36, 3.40, 3.44, 3.47, 3.51, 3.55,
3.54, 3.57, 3.61, 3.64, 3.67, 3.70, 3.73, 3.76, 3.78, 3.81, 3.84, 3.87,
3.88, 3.91, 3.93, 3.95, 3.97, 4.00, 4.03, 4.06, 4.10, 4.13, 4.17, 4.20,
4.20, 4.23, 4.26, 4.30, 4.33, 4.36, 4.39, 4.42, 4.45, 4.47, 4.50, 4.53,
4.51, 4.54, 4.57, 4.59, 4.62, 4.65, 4.68, 4.70, 4.73, 4.75, 4.78, 4.81,
4.81, 4.84, 4.87, 4.89, 4.92, 4.95, 4.98, 5.00, 5.03, 5.06, 5.09, 5.12,
5.11, 5.14, 5.16, 5.18, 5.21, 5.24, 5.27, 5.30, 5.33, 5.36, 5.39, 5.42,
5.42, 5.45, 5.48, 5.51, 5.55, 5.59, 5.63, 5.67, 5.71, 5.75, 5.78, 5.82,
5.82, 5.85, 5.88, 5.91, 5.94, 5.97, 6.00, 6.03, 6.06, 6.09, 6.12, 6.14,
6.15, 6.17, 6.20, 6.23, 6.25, 6.28, 6.31, 6.34, 6.37, 6.40, 6.43, 6.46,
6.47, 6.50, 6.53, 6.56, 6.59, 6.62, 6.65, 6.68, 6.71, 6.74, 6.77, 6.80,
6.80, 6.83, 6.86, 6.89, 6.92, 6.95, 6.98, 7.01, 7.04, 7.06, 7.09, 7.12
]

dolar = [
1.77, 1.80, 1.81, 1.79, 1.81, 1.83, 1.82, 1.77, 1.76, 1.75, 1.75, 1.74,
1.74, 1.76, 1.74, 1.71, 1.67, 1.63, 1.60, 1.61, 1.64, 1.66, 1.68, 1.67,
1.67, 1.64, 1.66, 1.66, 1.67, 1.66, 1.65, 1.63, 1.62, 1.62, 1.63, 1.62,
1.62, 1.64, 1.65, 1.64, 1.62, 1.58, 1.56, 1.57, 1.56, 1.57, 1.55, 1.55,
1.55, 1.54, 1.52, 1.53, 1.53, 1.51, 1.53, 1.52, 1.50, 1.50, 1.49, 1.47,
1.47, 1.46, 1.47, 1.49, 1.53, 1.53, 1.53, 1.56, 1.57, 1.56, 1.55, 1.57,
1.57, 1.57, 1.54, 1.55, 1.54, 1.53, 1.55, 1.58, 1.59, 1.58, 1.58, 1.56,
1.56, 1.56, 1.54, 1.55, 1.54, 1.54, 1.55, 1.55, 1.55, 1.58, 1.59, 1.61,
1.61, 1.61, 1.63, 1.64, 1.65, 1.66, 1.68, 1.68, 1.68, 1.66, 1.66, 1.66,
1.66, 1.64, 1.64, 1.63, 1.63, 1.62, 1.63, 1.61, 1.60, 1.59, 1.59, 1.61,
1.61, 1.60, 1.61, 1.59, 1.58, 1.58, 1.59, 1.60, 1.60, 1.61, 1.61, 1.61,
1.61, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62,
1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62, 1.62
]

inflacao = [
0.75, 0.83, 0.79, 0.71, 0.64, 0.60, 0.62, 0.63, 0.57, 0.59, 0.57, 0.50,
0.51, 0.45, 0.43, 0.49, 0.47, 0.35, 0.24, 0.22, 0.24, 0.21, 0.33, 0.63,
0.25, 0.26, 0.36, 0.21, 0.13, 0.26, 0.18, 0.16, 0.24, 0.18, 0.31, 0.29,
0.30, 0.32, 0.21, 0.37, 0.40, 0.35, 0.24, 0.08, 0.27, 0.54, 0.50, 0.51,
0.38, 0.36, 0.25, 0.42, 0.49, 0.42, 0.31, 0.15, 0.31, 0.37, 0.42, 0.54,
0.76, 0.64, 0.25, 0.61, 0.79, 0.79, 0.35, 0.44, 0.08, 0.43, 0.33, 0.29,
0.52, 0.33, 0.16, 0.08, 0.26, 0.35, 0.43, 0.19, 0.16, 0.08, 0.03, 0.15,
0.11, 0.18, 0.08, 0.07, 0.19, 0.24, 0.19, 0.11, 0.16, 0.18, 0.28, 0.46,
0.32, 0.57, 0.48, 0.54, 0.40, 0.33, 0.33, 0.37, 0.48, 0.33, 0.29, 0.35,
0.35, 0.43, 0.45, 0.31, 0.35, 0.40, 0.24, 0.37, 0.47, 0.57, 0.42, 0.45,
0.38, 0.25, 0.34, 0.24, 0.43, 0.51, 0.35, 0.34, 0.21, 0.33, 0.29, 0.44,
0.35, 0.25, 0.14, 0.28, 0.21, 0.33, 0.30, 0.37, 0.29, 0.25, 0.30, 0.36,
0.35, 0.39, 0.25, 0.31, 0.35, 0.39, 0.31, 0.36, 0.40, 0.46, 0.43, 0.44
]

datas = [f'{ano}/{mes:02}' for ano in anos for mes in meses]
# Cálculo da variação percentual do valor anual do barril de petróleo
var_combustivel = []
acumulado_comb = []
for i in range(len(gasolina)):
    if i == 0:
        var_combustivel.append(float(0))
        acumulado_comb.append(float(1))
    else:
        valor_inicial = gasolina[i-1]
        valor_final = gasolina[i]
        variacao_percentual = (valor_final - valor_inicial) / valor_inicial
        var_combustivel.append(variacao_percentual)
        acumulado = acumulado_comb[i-1] * (1 + variacao_percentual)
        acumulado_comb.append(acumulado)

#Cálculo da inflação acumulada
inflacao_acumulada = []
for i in range(len(inflacao)):
    if i == 0:
        inflacao_acumulada.append(1 + (inflacao[0]/100))
    else:
        acumulado = inflacao_acumulada[i-1] * (1 + (inflacao[i]/100))
        inflacao_acumulada.append(acumulado)

# #Plotagem do gráfico
# plt.figure(figsize=(12, 6))
# plt.plot(datas, gasolina, '-o', label='Gasolina')
# plt.plot(datas, dolar, '-o', label='Dólar')
# # plt.plot(datas, var_petroleo, '-o', label='Variação Petróleo')
# # plt.plot(datas, inflacao_acumulada, '-o', label='Inflação Acumulada')

# #Personalização do gráfico
# plt.xticks(np.arange(0, len(datas), 12), rotation=45)
# plt.xlabel('Ano')
# plt.ylabel('Valor')
# plt.title('Variação Mensal: Gasolina, Dólar, Variação Petróleo e Inflação Acumulada')
# plt.legend()

# #Exibição do gráfico
# plt.show()